.st-emotion-cache-kt9vas{
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(134, 194, 224, 0.553);
}

.diagnosis{
    color: #fff;
    padding: 0.2rem;
    border-radius: 0.7rem;
}
.diagnosis.benign{
    background-color: rgb(230, 45, 45);
}

.diagnosis.malignant{
    background-color: rgb(74, 242, 85);
}